#books-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(50px, 4vh, 60px);
  gap: clamp(10px, 8vh, 100px);
}

#books-section h1 {
  font-weight: normal;
  color: var(--secondary-color-1);
}

.book {
  border: 2px solid var(--secondary-color-1);
}

.line {
  width: clamp(800px, 62vw, 2000px);
  height: clamp(20px, 2vh, 40px);
  background-color: var(--line-color);
  border-radius: 10px;
  box-shadow: 5px 5px 3px 3px var(--line-shadow-color);
  margin-bottom: 50px;
}

.unread-books,
.read-books {
  display: flex;
  width: clamp(450px, 55vw, 1900px);
  min-height: 15vh;
  margin-left: 50px;
  gap: clamp(10px, 10vw, 70px);
  overflow-x: auto;
}

.book-info-card:target {
  opacity: 1;
}

.book {
  width: clamp(60px, 15vh, 130px);
  height: clamp(100px, 20vh, 190px);
  cursor: pointer;
}

.card-component {
  visibility: hidden;
  pointer-events: none;
}

.card-component:target {
  visibility: visible;
  pointer-events: auto;
}


.card-component:target >*:not(.overlay) {
  animation: pop-up 0.25s ease-in;
}

.card-component:target .overlay {
  animation: fade-in 0.25s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  from {
    transform: translate(-50%, calc(-50% + 10px)) scale(.95);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.book-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 360px;
  height: 340px;
  background-color: var(--primary-color-2);
  z-index: 5;
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px;
}

.book-info-card button {
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.book-info-card p {
  font-family: Arial;
}

.exit-book-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -10px;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-color:  var(--secondary-color-1);
  border-radius: 50%;
  color: white;
}

.book-info-card span {
  color: var(--primary-text-color-dark);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.715);
  z-index: 1;
}

.button-container {
  display: flex;
  gap: 25px;
}

.edit-button {
  background-color: #517cb3;
}

.book-info-card .delete-button {
  background-color: transparent;
  border: 2px solid #B42318;
  color: #B42318;
  transition: background-color 0.1s ease-in;
}

.edit-button:hover {
  background-color: #426a9d;
}


.delete-button:hover {
  background-color: #B02A37;
  color: white;
}