#books-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(50px, 4vh, 60px);
  gap: clamp(10px, 8vh, 100px);
}

#books-section h1 {
  font-weight: normal;
  color: var(--secondary-color-1);
}

.book {
  background-color: var(--secondary-color-1);
  border: 2px solid var(--secondary-color-1);
}

.line {
  width: clamp(800px, 62vw, 2000px);
  height: clamp(20px, 2vh, 40px);
  background-color: var(--line-color);
  border-radius: 10px;
  box-shadow: 5px 5px 3px 3px var(--line-shadow-color);
  margin-bottom: 50px;
}

.unread-books,
.read-books {
  display: flex;
  width: clamp(450px, 55vw, 1900px);
  min-height: 15vh;
  margin-left: 50px;
  gap: clamp(10px, 10vw, 70px);
  overflow-x: auto;
}

.book-info-card:target {
  opacity: 1;
}

.book {
  width: clamp(60px, 15vh, 130px);
  height: clamp(100px, 20vh, 190px);
  cursor: pointer;
}

.card-component {
  visibility: hidden;
  pointer-events: none;
}

.card-component:target {
  visibility: visible;
  pointer-events: auto;
}


.card-component:target >*:not(.overlay) {
  animation: pop-up 0.25s ease-in;
}

.card-component:target .overlay {
  animation: fade-in 0.25s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  from {
    transform: translate(-50%, calc(-50% + 10px)) scale(.95);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.book-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--primary-color-2);
  z-index: 5;
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1.5px solid var(--underline-color);
}

.book-info-card button {
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.book-info-card p {
  font-family: Arial;
}

.exit-book-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -10px;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-color:  var(--secondary-color-1);
  border-radius: 50%;
  color: white;
  border: 1px solid var(--underline-color);
}

.book-info-card span {
  color: var(--primary-text-color-dark);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
  z-index: 1;
}

.button-container {
  display: flex;
  gap: 25px;
  margin-top: 8px;
}

.edit-button {
  background-color: var(--edit-button-color);
}

.book-info-card .delete-button {
  background-color: var(--delete-button-color);
  border: 1px solid var(--delete-border-color);
  color: var(--delete-text-color);
  transition: background-color 0.1s ease-in;
}



.delete-button:hover {
  background-color: var(--delete-hover-color);
  color: white;
}

.button-container .change {
  background-color: var(--secondary-text-color-1);
}

[contenteditable="true"] {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color: var(--line-shadow-color);  
  background-color: var(--highlight-color);
}

[contenteditable="true"]:focus {
  background-color: var(--line-color);
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--underline-color);
}

.card-line {
  width: 100%;
  height: 1.5px;
  margin-top: 20px;
  color: transparent;
  background-color: var(--line-shadow-color);
}

.move-text {
  text-decoration: none;
  color: var(--primary-text-color-dark);
  font-family: Arial;
  margin-top: 15px;
}

.move-text:hover {
  color: var(--secondary-text-color-1);
}