#form-bar {
  background-color: blue;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 1vw, 40px);
}

#book-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.logo img {
  width: clamp(20px, 5vw, 60px);
  height: auto;
  align-self: center;
}

.logo h1 {
  font-size: clamp(20px, 5vw, 40px);
}

.logo h1 img {
  width: clamp(30px, 20vw, 200px);
  height: auto;
}