:root {
  --primary-color-1: #FFF8F2;
  --primary-color-2: #D0E0FB;
  --secondary-color-1: #A58D74;
  --secondary-color-2: #D9D9D9; 
  --primary-text-color: #4D4D4D; 
  --secondary-text-color-1: #51A064;
  --secondary-text-color-2: #C594CD;
  --secondary-text-color-3: #A67C52;
}